@model BlackJack.Domain.GameLogic.GameState
@{
    ViewData["Title"] = Model.CurrentState.ToString();
}

<table>
    <thead>
        <tr>
            <th>
                @($"Dealer Score: {Model.Dealer.Score}")
            </th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            @foreach (BlackJack.Domain.PlayingCard.Card card in Model.Dealer.Hand)
            {

                <td>
                    @card.ToString()
                    <br />
                    <img src="@Url.Content("~/images/cards/" + card.ToString() + ".svg")" alt="@card.ToString()" />
                </td>

            }
        </tr>
    </tbody>
</table>
<hr />
    <h1>@ViewData["Title"]</h1>
<hr />
<table>
    <thead>
        <tr>
            <th>
                @($"Player Score: {Model.DefaultPlayer.Score}")
            </th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            @foreach (BlackJack.Domain.PlayingCard.Card card in Model.DefaultPlayer.Hand)
            {
                <td>
                    @card.ToString()
                    <br />
                    <img src="@Url.Content("~/images/cards/" + card.ToString() + ".svg")" alt="@card.ToString()" />
                </td>
            }
        </tr>
    </tbody>
</table>
<hr />
<form asp-controller="BlackJackGame" asp-action="Game" method="post">
    <table>
        <thead>
            <tr>
                <th>
                    @($"Player Balance: {Model.DefaultPlayer.Balance}")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="5%">
                    <input type="submit" name="button" class="button1" value="Hit" />
                </td>

                <td width="5%">
                    <input type="submit" name="button" class="button1" value="Stand" />
                </td>

                <td width="5%">
                    <input type="submit" name="button" class="button1" value="Fold" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
